<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Edit Yoga Class</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<nav class="navbar">
    <div class="navbar-wrapper">
        <div class="nav-section-left">
            <div class="nav-links">
                <a href="/yoga-classes">Home</a>
                <span sec:authorize="isAuthenticated() and hasRole('ADMIN')">
                <a href="/yoga-classes/create">Create New Class</a>
            </span>
            </div>

            <div class="auth-links">
            <span sec:authorize="isAuthenticated()">
                Welcome, <span sec:authentication="name"></span> |
                <a href="/logout">Logout</a>
            </span>
                <span sec:authorize="isAnonymous()">
                <a href="/login">Login</a>
            </span>
            </div>
        </div>

        <form action="/yoga-classes/search" method="get" class="search-form">
            <input type="text" name="query" placeholder="Search classes" />
            <button type="submit">Search</button>
        </form>
    </div>

</nav>

<div class="form-container">
<form th:action="@{/yoga-classes/edit/{id}(id=${clazz.id})}"
      th:object="${yogaClassDTO}"
      enctype="multipart/form-data"
      method="post">

    <input type="hidden" name="_method" value="put"/>

    <label>Name:</label>
    <input type="text" th:field="*{name}" />

    <label for="timeAndDate">Time and Date:</label>
    <input type="datetime-local" id="timeAndDate" name="timeAndDate"
           th:value="${yogaClassDTO.formattedTimeAndDate}" />

    <label>Price:</label>
    <input type="number" th:field="*{price}" step="0.01"/>

    <label>Studio Name:</label>
    <input type="text" th:field="*{studioName}" />

    <label>Studio Location:</label>
    <input type="text" th:field="*{studioLocation}" />

    <label>Instructor First Name:</label>
    <input type="text" th:field="*{instructorFirstName}" />

    <label>Instructor Last Name:</label>
    <input type="text" th:field="*{instructorLastName}" />

    <label>Instructor Age:</label>
    <input type="number" th:field="*{instructorAge}" />

    <label>Instructor Gender:</label>
    <select th:field="*{instructorGender}">
        <option th:value="MALE" th:text="'Male'"></option>
        <option th:value="FEMALE" th:text="'Female'"></option>
    </select>

    <label>Class Type:</label>
    <select th:field="*{type}">
        <option th:value="VINYASA" th:text="'Vinyasa'"></option>
        <option th:value="HATHA" th:text="'Hatha'"></option>
        <option th:value="PRENATAL" th:text="'Prenatal'"></option>
        <option th:value="ASHTANGA" th:text="'Ashtanga'"></option>
        <option th:value="ANUSARA" th:text="'Anusara'"></option>
        <option th:value="KUNDALINI" th:text="'Kundalini'"></option>
        <option th:value="BIKRAM" th:text="'Bikram'"></option>
    </select>

    <div th:if="${yogaClassDTO.studioPhotoPath != null}">
        <p>Current Studio Image:</p>
        <img th:src="@{'/' + ${yogaClassDTO.studioPhotoPath}}" alt="Current Studio Photo" style="max-width: 250px;" />
    </div>

    <label for="file">Upload New Studio Photo:</label>
    <input type="file" id="file" name="file" th:field="*{file}" />

    <button type="submit">Save Changes</button>

</form>
</div>
<footer class="footer">
    <div class="footer-wrapper">
        <div class="footer-left">
            <h3>AsanaHub</h3>
            <p>Find your inner peace.</p>
        </div>

        <div class="footer-right">
            <p>&copy; 2025 AsanaHub. All rights reserved.</p>
        </div>
    </div>
</footer>
</body>
</html>